<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <header class="p-3 mb-3 border-bottom" th:fragment="header">
    <ul style="display: flex;">
      <li >1. header</li>
    </ul>
  </header>

  <header class="p-3 mb-3 border-bottom" th:fragment="header2">
    <ul style="display: flex;">
      <li >2. header</li>
    </ul>
  </header>

  <header class="p-3 mb-3 border-bottom" th:fragment="header3">
    <ul style="display: flex;">
      <li >3. header</li>
    </ul>
  </header>
</html>